@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #e38528;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #fcf2e8;
    padding-left: 30rem;
}


section {
    padding: 1rem 5%;
    min-height: 100vh;
}

.heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: #111;
    letter-spacing: .2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
    text-transform: uppercase;
}

header .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    font-weight: bolder;
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a {
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}

header .navbar a:hover {
    letter-spacing: .2rem;
    color: var(--main-color);
}

header .follow a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 .7rem;
}

header .follow a:hover {
    color: var(--main-color);
    transform: scale(1.25) perspective(1px);
}

#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}



.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}



.home .image img {
   max-height: 100vh;

}

.home .content {
    flex: 1 1 40rem;
}

.home .content .hi {
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3 {
    font-size: 4.5rem;
    color: #111;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--main-color);
    text-transform: uppercase;
}

.home .content .info {
    font-size: 2.5rem;
    color: #111;
    padding: .5rem 0;
}

.home .content .text {
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
}

.about .row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image {
    flex: 1 1 25rem;
}

.about .row-1 .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.about .row-1 .content {
    flex: 1 1 50rem;
}

.about .row-1 .content h3 {
    color: #333;
    font-size: 3.5rem;
}

.about .row-1 .content p {
    color: #666;
    font-size: 1.7rem;
    padding: .5rem 0;
}

.about .row-1 .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span {
    color: var(--main-color);
}




.u-blowUpImg:hover {
    cursor: zoom-in;
}



.apps .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
    
 

    
}

.apps .box-container .box {
   flex: 1 1 30rem;
    position: relative;
    height: 88vh;
    border-radius: 30rem;
    
}

.apps .box-container .box img {
 
    height: 100%;
    width: 100%;
    border-radius: .15rem;


}

.card {
    
    width: 22vw;
   height: 100%;
   perspective: 100vh;
   padding-top: 30px;

  }
  
  .card__inner {
   
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 63px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }

  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
   
  }

  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    background-color: #dfbf9f;
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  
  
  

  
  .card__body {
    padding: 30px;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }
 
.card__body a {
    font-size: 40px;
    padding-top: 40px;
   color: black;
   display: flex;
   justify-content: center;
}

.card__body a:hover{
    color: white;
   transform: scale(1.5);
  


}





.portfolio .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box {
    flex: 1 1 30rem;
    height: 45rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover ;
    border-radius: .5rem;
    position: relative;
    z-index: 1;

}

.portfolio .box-container .box:hover img {
    height: 85%;
    width: 100%;

}

.portfolio .box-container .box h3 {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    z-index: -15;
}
.portfolio .box-container .box:hover h3 {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    z-index: 0;
}

 .contact{
    min-height: 30vh;
}

.contact .icons-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contact .icons-container .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    color: #111;
    font-size: 2rem;
    padding: .5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p {
    color: #666;
    font-size: 1.7rem;
}

.contact .icons-container .icons p a {
    color: #666;
    font-size: 1.7rem;
}

.contact .icons-container .icons p a:hover {
    color: rgb(83, 83, 83);
    font-size: 1.7rem;
}


.footer {

    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;
    background: #fff;
}

.footer span {
    color: var(--main-color);
}


















@media (max-width:1300px) {

    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }

    .card{
        padding-top: 40px;
        width: 40rem;
    }



}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }

    .prices .box-container .box {
        padding-right: 0;
    }

    .card{
        padding-top: 30px;
        width: 40rem;
    }

}



